/dist/
/build/
/venv/
logScript*
.eggs
chromedriver.exe
/GsheetsJson
DataFiles/*
.idea/prettier.xml
.idea/php.xml
.DS_Store
/BREAK_validated_bets.json
/api/strategy4P/del_perte.php
/api/strategy5P/del_perte.php
/api/strategy6P/del_perte.php
/api/strategy15A/del_perte.php
/api/strategy30A/del_perte.php
/api/strategy030/del_perte.php
/api/strategy40A/del_perte.php
/api/strategy300/del_perte.php
/api/strategy400/del_perte.php
/api/strategy456P/del_perte.php
/api/strategy4015/del_perte.php
/api/strategy4030/del_perte.php
/api/strategy4315A/del_perte.php
/api/strategyBREAK/del_perte.php
/api/strategyQT/del_perte.php
/api/strategyQTV2/del_perte.php
/api/strategy4P/get_compet.php
/api/strategy5P/get_compet.php
/api/strategy6P/get_compet.php
/api/strategy15A/get_compet.php
/api/strategy30A/get_compet.php
/api/strategy030/get_compet.php
/api/strategy40A/get_compet.php
/api/strategy300/get_compet.php
/api/strategy400/get_compet.php
/api/strategy456P/get_compet.php
/api/strategy4015/get_compet.php
/api/strategy4030/get_compet.php
/api/strategy4315A/get_compet.php
/api/strategyBREAK/get_compet.php
/api/strategyQT/get_compet.php
/api/strategyQTV2/get_compet.php
/api/strategy4P/get_compet_recup.php
/api/strategy5P/get_compet_recup.php
/api/strategy6P/get_compet_recup.php
/api/strategy15A/get_compet_recup.php
/api/strategy30A/get_compet_recup.php
/api/strategy030/get_compet_recup.php
/api/strategy40A/get_compet_recup.php
/api/strategy300/get_compet_recup.php
/api/strategy400/get_compet_recup.php
/api/strategy456P/get_compet_recup.php
/api/strategy4015/get_compet_recup.php
/api/strategy4030/get_compet_recup.php
/api/strategy4315A/get_compet_recup.php
/api/strategyBREAK/get_compet_recup.php
/api/strategyQT/get_compet_recup.php
/api/strategyQTV2/get_compet_recup.php
/api/strategy4P/get_global_perte.php
/api/strategy5P/get_global_perte.php
/api/strategy6P/get_global_perte.php
/api/strategy15A/get_global_perte.php
/api/strategy30A/get_global_perte.php
/api/strategy030/get_global_perte.php
/api/strategy40A/get_global_perte.php
/api/strategy300/get_global_perte.php
/api/strategy400/get_global_perte.php
/api/strategy456P/get_global_perte.php
/api/strategy4015/get_global_perte.php
/api/strategy4030/get_global_perte.php
/api/strategy4315A/get_global_perte.php
/api/strategyBREAK/get_global_perte.php
/api/strategyQT/get_global_perte.php
/api/strategyQTV2/get_global_perte.php
/api/strategy4P/get_perte.php
/api/strategy5P/get_perte.php
/api/strategy6P/get_perte.php
/api/strategy15A/get_perte.php
/api/strategy30A/get_perte.php
/api/strategy030/get_perte.php
/api/strategy40A/get_perte.php
/api/strategy300/get_perte.php
/api/strategy400/get_perte.php
/api/strategy456P/get_perte.php
/api/strategy4015/get_perte.php
/api/strategy4030/get_perte.php
/api/strategy4315A/get_perte.php
/api/strategyBREAK/get_perte.php
/api/strategyQT/get_perte.php
/api/strategyQTV2/get_perte.php
/api/strategy4P/index.php
/api/strategy5P/index.php
/api/strategy6P/index.php
/api/strategy15A/index.php
/api/strategy30A/index.php
/api/strategy030/index.php
/api/strategy40A/index.php
/api/strategy300/index.php
/api/strategy400/index.php
/api/strategy456P/index.php
/api/strategy4015/index.php
/api/strategy4030/index.php
/api/strategy4315A/index.php
/api/strategyBREAK/index.php
/api/strategyQT/index.php
/api/strategyQTV2/index.php
/api/strategy4P/insert_global_perte.php
/api/strategy5P/insert_global_perte.php
/api/strategy6P/insert_global_perte.php
/api/strategy15A/insert_global_perte.php
/api/strategy30A/insert_global_perte.php
/api/strategy030/insert_global_perte.php
/api/strategy40A/insert_global_perte.php
/api/strategy300/insert_global_perte.php
/api/strategy400/insert_global_perte.php
/api/strategy456P/insert_global_perte.php
/api/strategy4015/insert_global_perte.php
/api/strategy4030/insert_global_perte.php
/api/strategy4315A/insert_global_perte.php
/api/strategyBREAK/insert_global_perte.php
/api/strategyQT/insert_global_perte.php
/api/strategyQTV2/insert_global_perte.php
/api/insert_paris.php
/api/strategy4P/insert_perte.php
/api/strategy5P/insert_perte.php
/api/strategy6P/insert_perte.php
/api/strategy15A/insert_perte.php
/api/strategy30A/insert_perte.php
/api/strategy030/insert_perte.php
/api/strategy40A/insert_perte.php
/api/strategy300/insert_perte.php
/api/strategy400/insert_perte.php
/api/strategy456P/insert_perte.php
/api/strategy4015/insert_perte.php
/api/strategy4030/insert_perte.php
/api/strategy4315A/insert_perte.php
/api/strategyBREAK/insert_perte.php
/api/strategyQT/insert_perte.php
/api/strategyQTV2/insert_perte.php
/api/.idea/php.xml
/api/.idea/vcs.xml
/api/.idea/workspace.xml
/api/wp-config.php
